.articlesContainer h3 {
	font: 20px sans-serif;
	margin: 60px 0 0;
	letter-spacing: 1px;
}

.articlesContainer hr {
	margin: 12px auto 30px;
	width: 150px;
}

.articlesContainer h4 {
	font: 16px sans-serif;
	margin: 35px 0 10px;
}

.articlesContainer .artFont {
	color: #ff0057;
	margin: 3px 3px -2px;
}

.artCardContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: auto;
	width: 1000px;
	position: relative;
}

.artCard {
	position: relative;
}

.artCard .topFace {
	width: 300px;
	height: 200px;
	position: relative;
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transition: 0.5s;
	transform: translateY(100px);
}

.artCard:hover .topFace {
	background: #ff0057;
	transform: translateY(0px);
}

.artCard .topFace .content {
	opacity: 0.4;
	transition: 0.5s;
}

.artCard:hover .topFace .content {
	opacity: 1;
}

.artCard .topFace .content img {
	max-width: 200px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.artCard .topFace .content h3 {
	font: bold 16px sans-serif;
	color: #fff;
	margin-top: 0px;
}

.artCard .bottomFace {
	width: 300px;
	height: 200px;
	position: relative;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-shadow: 0 20px 50px rgba(29, 11, 11, 0.8);
	transform: translateY(-100px);
	transition: 0.5s;
}

.artCard:hover .bottomFace {
	transform: translateY(0px);
}

.artCard .bottomFace .content p {
	color: #333;
	font: 14px sans-serif;
	line-height: 18px;
	letter-spacing: .3px;
}

.artCard .bottomFace .content a {
	text-decoration: none;
	color: #333;
	font-weight: 600;
	letter-spacing: .2px;
	border: 1px solid #333;
	padding: 8px;
	display: inline-block;
	margin: 17px 0 0;
}

.artCard .bottomFace .content a:hover {
	background: #333;
	color: #fff;
}

/* --------------------mobile responsiveness------------------------- */

@media screen and (max-width: 364px) {

	.artCardContainer {
		grid-template-columns: repeat(1, 1fr);
		margin: auto;
	}

	.artCard .topFace {
		width: 240px;
		height: 190px;
		transform: translateY(90px);
	}

	.artCard .bottomFace {
		width: 240px;
		height: 190px;
	}

	.artCard .topFace .content h3 {
		font: bold 14px sans-serif;
		margin-top: 5px;
	}

	.artCard .bottomFace .content p {
		font: 12px sans-serif;
		line-height: normal;
		letter-spacing: 0px;
	}

	.artCard .bottomFace .content a {
		font-size: 10px;
		letter-spacing: 0px;
		border: 1px solid #333;
		padding: 4px 6px;
		margin: 8px 0 0;
	}

	.articlesContainer footer h4 {
		font-size: 12px;
		margin-bottom: 20px;
	}
}
