/* --------------------------card hover effect styling begins here---------------------------------------- */

.callActionBody {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	font-size: 14px;
	color: #333;
}

.container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.container .Card {
	background: #333;
}

.container .Card .face {
	width: 300px;
	height: 200px;
	transition: 0.5s;
}

.container .Card .face.face1 {
	position: relative;
	background: #333;
	display: flex;
	justify-content: center;
	align-content: center;
	z-index: 1;
	transform: translateY(100px);
	overflow: hidden;
}

.container .Card:hover .face.face1 {
	background: #ff0057;
	transform: translateY(0px);
}

.container .Card .face.face1 .content {
	opacity: 0.4;
	transition: 0.5s;
}

.container .Card:hover .face.face1 .content {
	opacity: 1;
}

.container .Card .face.face1 .content img {
	max-width: 200px;
	margin-top: 30px;
}

.container .Card .face.face1 .content h3 {
	text-align: center;
	font-size: 1.5em;
	color: #fff;
	margin: 15px 0 0;
	padding: 0;
}

.container .Card .face.face2 {
	position: relative;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding: 20px;
	box-shadow: 0 20px 50px rgba(29, 11, 11, 0.8);
	transform: translateY(-100px);
}

.container .Card:hover .face.face2 {
	transform: translateY(0px);
}

.container .Card .face.face2 .content p {
	margin: 0px;
	padding: 0px;
	font-size: .75rem;
}

.container .Card .face.face2 .content a {
	margin: 15px 0 0;
	display: inline-block;
	text-decoration: none;
	font-weight: 900;
	color: #333;
	padding: 5px;
	border: 1px solid #333;
}

.container .Card .face.face2 .content a:hover {
	background: #333;
	color: #fff;
}

/* ---------------------------mobile responsiveness------------------------------ */

@media screen and (max-width: 768px) {
	.callActionBody {
		font-size: 8px;
		overflow: hidden;
		margin: 70vh auto;
	}

		.container .Card {
		margin: auto;
	}

	.container .Card .face.face2 .content p {
		font-size: .6rem;
	}

	.container .Card .face {
		width: 240px;
		height: 170px;
	}

	.container .Card .face.face2 {
		padding: 10px;
		transform: translateY(-70px);
	}

	.container .Card .face.face1 .content img {
		max-width: 150px;
	}

	.container .Card .face.face2 .content a {
		margin: 10px 0 0;
		padding: 4px;
	}
}
