.contactBody {
	margin: 20px 0;
	border-top: 1px solid rgb(202, 182, 182);
	border-bottom: 1px solid rgb(202, 182, 182);
}

.contactBody h2 {
	text-align: center;
	font: 20px sans-serif;
	margin: 60px 0 0;
	letter-spacing: 1px;
}

.contactBody hr {
	margin: 12px auto 80px;
	width: 150px;
	color: #333;
	background-color: #333;
}

.contactBody .cardHoverContainer {
	position: absolute;
	left: 15%;
	cursor: crosshair;
	width: 300px;
	height: 480px;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
	transform: translate(30%, 0%);
}

.contactBody .cardHoverContainer .front,
.contactBody .cardHoverContainer .back {
	width: 100%;
	height: 100%;
	overflow: hidden;
	backface-visibility: hidden;
	position: absolute;
	transition: transform .8s linear;
}

.contactBody .cardHoverContainer .front {
	transform: perspective(600px) rotateY(0deg);
}

.contactBody .cardHoverContainer .back {
	background: #615e5e;
	transform: perspective(600px) rotateY(180deg);
}

.contactBody .cardHoverContainer img {
	height: 100%;
}

.backContent {
	text-align: center;
	width: 100%;
	color: rgb(248, 232, 232);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.backContent h3 {
	font: 14px sans-serif;
}

.backContent .cardHoverFont {
	font-size: 36px;
	color: rgb(202, 182, 182);
	padding: 10px;
	margin-top: 20px;
	border-radius: 50%;
}

.backContent .cardHoverFont:hover {
	background: #333;
}

.contactBody .cardFlex {
	display: flex;
	justify-content: space-around;
}

.contactBody .contactFormContainer {
	display: flex;
	flex-direction: column;
	margin: 30px 0 150px 400px;
}

.contactBody .contactFormContainer input {
	height: 30px;
	width: 350px;
	background-color: #333;
	border: 1px solid rgb(126, 116, 116);
	padding: 0 5px;
}

.contactBody .contactFormContainer input::placeholder {
	color: #afa2a2;
}

.contactBody .contactFormContainer label {
	font-size: 14px;
	letter-spacing: 1px;
	margin: 20px 0 7px 0;
}

.contactBody .contactFormContainer input.msgInput {
	height: 100px;
}

.contactBody .contactFormContainer button {
	width: 100px;
	margin: 20px auto 0px;
	padding: 7px 14px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 1px;
	background: none;
	border: 1px solid rgb(126, 116, 116);
	color: rgb(202, 182, 182);
	cursor: crosshair;
	transition: transform 85ms ease-in;
}

.btn:active {
	transform: scale(0.90);
}

.contactBody .contactFormContainer > .btn:hover {
	cursor: crosshair;
	background: rgb(126, 116, 116);
	color: #e9e3e3;
}

.contactBody .contactFormContainer hr {
	margin-top: 20px;
}

/* ------------------------card hover animation-------------------------- */
.contactBody .cardHoverContainer:hover > .front {
	transform: perspective(600px) rotateY(-180deg);
}

.contactBody .cardHoverContainer:hover > .back {
	transform: perspective(600px) rotateY(0deg);
}

/* --------------------mobile responsiveness------------------------- */

@media (max-width: 364px) {
	.contactBody {
		max-width: 364px;
		box-sizing: border-box;
	}

	.cardFlex {
		flex-direction: column;
	}

	.contactBody h2 {
		font: 16px sans-serif;
		margin-top: 40px;
	}

	.contactBody hr {
		width: 120px;
		margin-bottom: 40px;
	}

	.backContent h3 {
		font: 11px sans-serif;
		letter-spacing: .2px;
	}

	.backContent .cardHoverFont {
		font-size: 32px;
		padding: 10px;
		margin-top: 10px;
	}

	.contactBody .cardHoverContainer {
		position: relative;
		width: 180px;
		height: 270px;
	}

	.contactBody .contactFormContainer {
		margin: 30px auto;
		position: relative;
	}

	.contactBody .contactFormContainer input {
		height: 20px;
		width: 250px;
	}

	.contactBody .contactFormContainer input.msgInput {
		height: 50px;
	}

	.contactBody .contactFormContainer label {
		font-size: 10px;
		letter-spacing: .5px;
		margin-top: 18px;
	}

	.contactBody .contactFormContainer button {
		width: 70px;
		margin: 10px auto 0px;
		font-size: 10px;
	}
}
