.navContainer {
	display: flex;
	justify-content: space-between;
}

.navContainer .navName {
	display: flex;
}

.navContainer .navName img {
	width: 125px;
}

.navContainer .navName h1 {
	margin: auto;
	font: 18px sans-serif;
	color: rgb(202, 182, 182);
}

.nav {
	text-decoration: none;
	color: rgb(202, 182, 182);
	padding: 10px;
	position: relative;
	opacity: 0.75;
}

.nav:hover {
	color: rgb(255, 250, 250);
	opacity: 1;
}

.nav::before {
	content: "";
	position: absolute;
	height: 1.6px;
	background-color: rgb(255, 250, 250);
	transition: .8s;
}

.nav-li::before {
	width: 0%;
	bottom: 5px;
}

.nav-li-1:hover::before {
	width: 77%;
}

.nav-li-2:hover::before {
	width: 87%;
}

.nav-li-3:hover::before {
	width: 89%;
}

.nav-li-4:hover::before {
	width: 85%;
}

.barContainer {
	display: none;
}

/* --------------------mobile responsiveness------------------------- */

@media screen and (max-width: 768px) {

	.navName img {
		width: 100%;
	}

	.navName h1 {
		display: none;
	}

	.navContainer ul {
		display: none;
	}

	.navCategories-mobile a {
		font-size: 12px;
		text-decoration: none;
		color: #ccc2c2;
		padding: 5px;
	}

	.navCategories-mobile a:hover {
		color: #f1f1f1;
	}

	/* ----------------------toggling bar animation styling------------------------- */

	.barContainer {
		display: block;
		cursor: pointer;
		margin: 0px 20px;
	}

	.bar1,
	.bar2,
	.bar3 {
		width: 23px;
		height: 2px;
		background-color: #f1f1f1;
		margin: 6px 0;
		transition: 0.5s ease-out;
		/* transform: rotate(360deg); */
	}

	.change .bar1 {
		transform: rotate(-45deg) translate(-4.5px, 5.5px);
	}

	.change .bar2 {
		opacity: 0;
	}

	.change .bar3 {
		transform: rotate(45deg) translate(-5.5px, -6.5px);
	}
}
