
.projectBody {
	/* position: relative; */
	color: rgb(202, 182, 182);
	margin-top: 30vh;
}

/* .projectBody::after {
  content: "";
  opacity: 0.6;
  background: rgb(26, 31, 41) url("../assets/bio.JPG") no-repeat fixed top;
  background-blend-mode: luminosity;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
} */

.projectBounce {
	text-align: center;
	padding-top: 13px;
	position: relative;
}

.projectBounce h1 {
	font: 38px sans-serif;
	margin: 20px;
}

.projectBounce h5 {
	font: 16px sans-serif;
}

.projectFiles {
	margin: 40px 0 0 150px;
	padding-bottom: 75px;
}

.projectFiles h3 {
	font: 26px sans-serif;
	padding: 10px 0 10px 0;
}

.projectFiles h6 {
	font: 16px sans-serif;
	margin: 25px 0 10px 0;
}

.projectFiles p {
	font: 18px sans-serif;
	padding: 2px;
}

.projectFiles hr {
	width: 100px;
	margin: 10px 0 20px 0;
	border: 1.5px solid orange;
}

.projectFiles div {
	margin: 0 0 75px 0;
}

.projectFiles a {
	color: rgb(148, 231, 132);
	font: 14px sans-serif;
}

@media screen and (max-width: 768px) {
	.projectBody {
		color: white;
		margin-bottom: 0px;
		font-size: 14px;
		font-family: sans-serif;
		width: 100%;
	}

	.projectBounce {
		margin-bottom: 10vh;
	}

	.projectBounce h1 {
		font-size: 1rem;
		margin-bottom: 10px;
	}

	.projectBounce h5 {
		font-size: .6rem;
	}

	.projectFiles {
		margin-left: 10px;
		margin-bottom: 0px;
		margin-top: 0px;
	}

	.projectFiles h3 {
		font-size: 1rem;
		margin-bottom: 0px;
	}

	.projectFiles p {
		font-size: .6rem;
		margin: 5px;
	}

	.projectFiles h6 {
		font-size: .6rem;
		margin-top: 15px;
		margin-bottom: 4px;
	}

	.projectFiles a {
		font-size: .55rem;
	}

	.projectFiles hr {
		width: 15%;
		margin-top: 0px;
		margin-bottom: 15px;
	}
}
