.about h1 {
  font: 34px sans-serif;
  color: rgb(109, 106, 109);
  margin: 25px 0 3px 0;
  text-align: center;
}
.about center hr {
  width: 120px;
  margin-bottom: 5px;
  border: 1.5px solid orange;
}
.about center {
  animation-name: fade;
  animation-duration: 5s;
}
.aboutContainer {
  margin: auto;
  width: 70%;
  height: auto;
  border: 1.5px dotted rgb(109, 106, 109);
  border-top: none;
  color: rgb(109, 106, 109);
  animation-name: fade;
  animation-duration: 5s;
}
.aboutContainer p {
  font: 22px sans-serif;
  color: rgb(109, 106, 109);
  word-spacing: 5px;
  margin: 0 15px 15px 15px;
  padding: 20px;
}

/* Styling fade out animation with keyframes*/

@keyframes fade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  85% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/* Below is the styling of the responsiveness at 

different screen sizes */

@media screen and (max-width:800px) and (min-width: 600px) {
  .aboutContainer {
    margin: auto;
  }
  .aboutContainer p {
    font: 18px sans-serif;
    padding: 8px 2px;
    word-spacing: 3px;
  }
}


@media screen and (max-width: 584px) {
  .aboutContainer {
    margin: auto;
  }
  .aboutContainer p {
    font: 14px sans-serif;
    padding: 8px 2px;
    word-spacing: 2px;
  }
}
