/* The biography page styling starts here */

.bioBody {
  color: rgb(109, 106, 109);
}
.bioBody h1 {
  text-align: center;
  font: 32px sans-serif;
  margin: 30px 30px 3px 30px;
}
.bioBody hr {
  width: 450px;
  margin-bottom: 40px;
  border: 1.5px solid orange;
}
fieldset {
  border: 2px dotted gray;
  border-top: 0px;
  height: auto;
  width: auto;
  margin: 0px 130px 15px;
}
.bioBody p {
  font: 24px sans-serif;
  margin: 10px;
  word-spacing: 5px;
}

/* Below is the styling of the responsiveness at 

different screen sizes */

@media screen and (max-width:800px) and (min-width: 600px) {
  .bioBody h1 {
    font: 26px sans-serif;
    margin-bottom: 5px;
  }
  .bioBody hr {
    width: 310px;
  }
  fieldset {
    margin: 0px 40px;
  }
  .bioBody p {
    font: 20px sans-serif;
  }
}

@media screen and (max-width: 584px) {
  .bioBody h1 {
    font: 24px sans-serif;
    margin-bottom: 5px;
  }
  .bioBody hr {
    width: 300px;
  }
  fieldset {
    margin: 0px 40px;
  }
  .bioBody p {
    font: 16px sans-serif;
  }
}
