.form {
  display: flex;
  margin: 55px 15%;
}
.form img {
  height: 300px;
  width: 450px;
  margin: 20px;
  position: relative;
  animation: drop ease forwards;
  animation-duration: 0.7s;
}
form {
  margin: 20px;
  animation: drop ease forwards;
  animation-duration: 0.7s;
}
form h2 {
  font-family: sans-serif;
  font-size: 36px;
}
label input {
  height: 35px;
  width: 400px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: black;
  margin: 10px 0 10px 0px;
  padding: 4px 0 4px 13px;
}
button {
  width: 200px;
  height: 35px;
  background-color: blue;
  color: black;
  border-radius: 6px;
  border-color: transparent;
  margin-top: 10px;
  margin-left: 90px;
}


/* Below is an animation that fades out the form on load once */

@keyframes drop {
  0% {
    transform: translateY(-50px);
    opacity: 0.3;
  }
  25% {
    transform: translateY(-40px);
    opacity: 0.6;
  }
  45% {
    transform: translateY(-30px);
    opacity: 0.6.5;
  }
  65% {
    transform: translateY(-20px);
    opacity: 0.7;
  }
  85% {
    transform: translateY(-10px);
    opacity: 0.7.5;
  }
  95% {
    transform: translateY(-5px);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* Below is the styling of the responsiveness at 

different screen sizes */
@media screen and (max-width:800px) and (min-width: 600px) {
  .form {
    display: block;
    text-align: center;
  }
  .form img {
    justify-content: center;
    margin-top: 60px;
  }
  .hi button {
    margin: 5px auto;
  }
}


@media screen and (max-width: 584px) {
  .form {
    display: block;
    margin: auto;
    text-align: center;
  }
  .form img {
    justify-content: center;
    margin-top: 60px;
  }
  .hi button {
    margin: 5px auto;
  }
}
