* {
  margin: 0px;
  padding: 0px;
}
.errorPage {
  text-align: center;
}
.errorPage h1 {
  font: 160px bold Monospace;
  color: rgb(255, 157, 0);
  margin-top: 150px;
  margin-bottom: 0px;
}
.errorPage h3 {
  font: 35px bold sans-serif;
  color: rgb(255, 157, 0);
  margin: 0;
}
.errorPage h5 {
  font: 16px bold sans-serif;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 157, 0);
  color: black;
  border: 1px solid rgb(255, 157, 0);
  border-color: transparent;
  border-radius: 14px;
  width: 15%;
}
.errorNav {
  text-decoration: none;
  color: rgb(255, 157, 0);
}

/* Below is the styling of the header's responsiveness */

@media screen and (max-width:600px){
  .errorPage h1 {
    font: 120px sans-serif;
  }
  .errorPage h3 {
    font: 30px bold;
  }
  .errorPage h5 {
    width: 35%;
  }
}